* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    padding: 1rem;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: .5rem;
}

.nav-link {
    text-decoration: none;
    color: red;
}